{{define "main"}}
<div
  class="bg-white/10 backdrop-blur border-solid border-[1px] w-[80%] mx-auto my-[1vh] border-gray-400 border-opacity-40 rounded"
>
  <h1 class="text-center">{{.Title}}</h1>
  <h4 class="text-center">{{.Description}}</h4>
</div>

<div
  id="card-container"
  class="bg-white/10 backdrop-blur border-solid border-[1px] w-[80%] mx-auto my-[1vh] border-gray-400 border-opacity-40 rounded flex justify-evenly flex-wrap"
>
  <!-- here we iterate thorugh the content and display as card in list page-->

  {{ with .Site.GetPage .Title }} {{ range .Pages }}
  <div
    id="card"
    class="w-[80%] sm:w-[25%] bg-white/10 backdrop-blur border-solid border-[1px] border-gray-400 border-opacity-40 rounded m-3 pb-3"
  >
    {{ if .Params.image}} {{$image := .Resources.Get .Params.image}}
    <img
      src="{{ $image.Permalink }}"
      width="100%"
      style="object-fit: contain"
    />
    {{ end }}
    <div class="w-100% px-3 block">
      {{ if .Date }}
      <p class="text-white">{{ .Date | time.Format ":date_medium" }}</p>
      {{ end }}
      <a href="{{.Permalink}}" class="no-underline">{{.Title}}</a>
      <p>{{truncate 80 .Description}}</p>
    </div>
  </div>
  {{ end }} {{ end }}
</div>
{{end}}
