<div
  class="bg-white/10 backdrop-blur-lg min-h-[50px] border-t-[1px] border-solid border-0 border-opacity/20 border-gray-400/40 justify-between flex items-center px-6 sm:px-12"
>
  <div>
    <a
      href="/about"
      id="footerLink"
      class="mx-2 hover:text-cyan-200 hover:underline text-2xl no-underline"
    >
      About
    </a>
    <a
      href="/hire-me"
      id="footerLink"
      class="text-green-400 mx-2 hover:text-cyan-1000 hover:underline text-2xl no-underline"
    >
      Hire Me!
    </a>
  </div>
  <div id="socialMediaLink" class="flex items-center gap-2">
    <a href="https://github.com/MRterrorOP">
      <img class="hover:bg-white bg-gray-400 rounded-full" src="{{ absURL
      "images/github.png"}}" alt="githubLink" width="30px" height="100%" />
    </a>
    <a href="">
      <img class="hover:bg-blue-400 bg-gray-400 rounded-full" src="{{ absURL
      "images/twitter.png"}}" alt="githubLink" width="33px" height="100%" />
    </a>
  </div>
</div>
