<header>
  <div
    class="bg-white/10 h-14 backdrop-blur-lg flex border-solid border-b-[1px] border-opacity-20 border-0 border-white items-center justify-between px-6 sm:px-12"
  >
    <div class="flex justify-center gap-6">
      <img
        class=""
        src="{{absURL "images/techInnovation-log.svg"}}"
        height="36px"
        width="46px"
        alt="company-logo"
      />
      <ul class="hidden sm:flex sm:none gap-6 p-0 m-0">
        <li class="h-[36px] list-none leading-[36px]">
          <a
            id="DesktopMenu"
            class="text-2xl no-underline hover:underline hover:text-cyan-1000"
            href="/notes"
            >Notes</a
          >
        </li>
        <li class="h-[36px] list-none leading-[36px]">
          <a
            id="DesktopMenu"
            class="text-2xl hover:underline no-underline hover:text-cyan-1000"
            href="{{relURL "/blogs"}}"
            >Blogs</a
          >
        </li>
        <li class="h-[36px] list-none leading-[36px]">
          <a
            id="DesktopMenu"
            class="text-2xl hover:underline no-underline hover:text-cyan-1000"
            href="{{relURL "/notes"}}"
            >Learn</a
          >
        </li>
        <li class="h-[36px] list-none leading-[36px]">
          <a
            id="DesktopMenu"
            class="text-2xl hover:underline no-underline hover:text-cyan-1000"
            href="{{relURL "/about"}}"
            >About</a
          >
        </li>
        <li class="h-[36px] list-none leading-[36px]">
          <a
            id="DesktopMenu"
            class="text-2xl hover:underline no-underline hover:text-cyan-1000"
            href="{{relURL "/contact"}}"
            >Contact</a
          >
        </li>
      </ul>
    </div>
    <div class="">
      <button class="bg-transparent border-none">
        <img
          class="mt-2 max-w-[32px] max-h-[32px]"
          src="{{absURL "images/search.svg"}}"
          height="32px"
          width="32px"
          alt="search-logo"
        />
      </button>
      <button
        id="menu-button"
        class="bg-transparent border-none cursor-pointer sm:hidden relative max-w-[32px] max-h-[32px]"
      >
        <img
          class="mt-2"
          src="{{ absURL "images/menu.svg"}}"
          height="32px"
          width="32px"
          alt="menu-logo"
        />
      </button>
      <ul
        id="dropDownMenu"
        style="list-style-type: none"
        class="max-w-[120px] w-[120px] bg-blue-200/40 border-solid hidden border-white border-opacity-30 absolute p-[0] top-[56px] right-[16px] shadow-lg shadow-black/20"
      >
        <li class="h-[36px] text-center hover:bg-blue-500 leading-[36px]">
          <a class="no-underline text-cyan-200 font-bold" href="/notes"
            >Notes</a
          >
        </li>
        <li class="h-[36px] text-center hover:bg-blue-500 leading-[36px]">
          <a class="no-underline text-cyan-200 font-bold" href="/blogs"
            >Blogs</a
          >
        </li>
        <li class="h-[36px] text-center hover:bg-blue-500 leading-[36px]">
          <a class="no-underline text-cyan-200 font-bold" href="/learn"
            >Learn</a
          >
        </li>
        <li class="h-[36px] text-center hover:bg-blue-500 leading-[36px]">
          <a class="no-underline text-cyan-200 font-bold" href="/contact"
            >Contact</a
          >
        </li>
        <li class="h-[36px] text-center hover:bg-blue-500 leading-[36px]">
          <a class="no-underline text-cyan-200 font-bold" href="/about"
            >About</a
          >
        </li>
      </ul>
    </div>
  </div>

  <script>
    const menuButton = document.getElementById("menu-button");
    const dropDownMenu = document.getElementById("dropDownMenu");
    menuButton.addEventListener("click", () => {
      console.log("toggle button click");
      dropDownMenu.classList.toggle("hidden"); //if dropDown menu closed then open it or vice-versa
    });

    document.addEventListener("mousedown", (e) => {
      if (e.target.closest("#dropDownMenu") || e.target.alt === "menu-logo")
        return;
      dropDownMenu.classList.add("hidden");
      console.log("event", e.target.alt);
    });
  </script>
</header>
